.dropdown {
  background-color: var(--cv-light);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.2),
    0px 8px 12px rgba(0, 0, 0, 0.16);
}