.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  overflow: hidden;
}

.modal-content {
  background: white;
  border-radius: 0.5rem;
  min-width: var(--modal-min-width, 32rem);
  max-width: 90vh;
  max-height: 90vh;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

.modal-close {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal-close-inline {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
}
